### **Code : Microorganisms - Hierarchical Bayesian**
##### Writer : Donghyeon Kim
##### Update : 2025.01.02.

---

#### **0. Package Reference**
```
conda create -c conda-forge -n pymc_env "pymc>=5"
conda activate pymc_env

pip install statsmodels

pip install -U scikit-learn
```

---

#### **1. Prior Settings**

In [1]:
import os

import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from statsmodels.formula.api import ols # Regression Model
import pymc as pm # Bayesian Analysis
import arviz as az
from sklearn.cluster import KMeans # K-means Clustering

##### Data : 미생물 본설문 OLS

In [2]:
DATA = pd.read_csv('C:/Users/mazy4/Dropbox/6. C&S Lab/7. 2024 Project/4. 야생생물 경제가치_생물자원관/2. 분석/2. Data/2. 본설문/Microorganisms_Main_Profile(56).csv')
DATA.head(10)

,INDEX,CARD,CLA1,CLA2,SCA1,SCA2,SCA3,PUR1,PUR2,PUR3,...,CUL2,CUL3,USA1,USA2,USA3,ADD1,ADD2,ADD3,PRICE,Y
0,24,1,1,0,0,1,0,0,1,0,...,1,0,0,1,0,1,0,0,150000,6
1,24,2,1,0,0,0,1,0,1,0,...,0,0,0,1,0,0,1,0,200000,9
2,24,3,1,0,0,0,1,0,1,0,...,0,1,1,0,0,0,0,1,100000,1
3,24,4,1,0,0,1,0,1,0,0,...,1,0,0,0,1,0,0,1,200000,5
4,24,5,0,1,0,1,0,1,0,0,...,0,1,1,0,0,0,1,0,150000,1
5,24,6,1,0,1,0,0,1,0,0,...,0,1,0,1,0,0,1,0,200000,1
6,24,7,1,0,1,0,0,0,1,0,...,0,1,0,0,1,1,0,0,150000,0
7,24,8,0,1,1,0,0,0,0,1,...,0,0,0,1,0,0,0,1,150000,4
8,24,9,1,0,0,0,1,1,0,0,...,0,0,0,0,1,0,0,1,150000,6
9,24,10,0,1,0,0,1,0,0,1,...,0,1,0,0,1,1,0,0,200000,2

In [3]:
# PRICE category = (1, 2, 3)
DATA.loc[(DATA['PRICE'] == 100000),'PRICE'] = 1
DATA.loc[(DATA['PRICE'] == 150000),'PRICE'] = 2
DATA.loc[(DATA['PRICE'] == 200000),'PRICE'] = 3
DATA.head(20)

,INDEX,CARD,CLA1,CLA2,SCA1,SCA2,SCA3,PUR1,PUR2,PUR3,...,CUL2,CUL3,USA1,USA2,USA3,ADD1,ADD2,ADD3,PRICE,Y
0,24,1,1,0,0,1,0,0,1,0,...,1,0,0,1,0,1,0,0,2,6
1,24,2,1,0,0,0,1,0,1,0,...,0,0,0,1,0,0,1,0,3,9
2,24,3,1,0,0,0,1,0,1,0,...,0,1,1,0,0,0,0,1,1,1
3,24,4,1,0,0,1,0,1,0,0,...,1,0,0,0,1,0,0,1,3,5
4,24,5,0,1,0,1,0,1,0,0,...,0,1,1,0,0,0,1,0,2,1
5,24,6,1,0,1,0,0,1,0,0,...,0,1,0,1,0,0,1,0,3,1
6,24,7,1,0,1,0,0,0,1,0,...,0,1,0,0,1,1,0,0,2,0
7,24,8,0,1,1,0,0,0,0,1,...,0,0,0,1,0,0,0,1,2,4
8,24,9,1,0,0,0,1,1,0,0,...,0,0,0,0,1,0,0,1,2,6
9,24,10,0,1,0,0,1,0,0,1,...,0,1,0,0,1,1,0,0,3,2
10,24,11,1,0,1,0,0,0,0,1,...,1,0,0,0,1,0,1,0,1,5
11,24,12,1,0,0,1,0,0,0,1,...,0,0,1,0,0,1,0,0,3,5
12,24,13,1,0,0,1,0,0,0,1,...,0,1,0,1,0,0,0,1,1,2
13,24,14,1,0,0,0,1,0,0,1,...,1,0,1,0,0,0,1,0,2,3
14,24,15,0,1,0,1,0,0,1,0,...,0,0,0,0,1,0,1,0,1,5
15,24,16,1,0,1,0,0,1,0,0,...,0,0,1,0,0,1,0,0,1,7
16,24,17,0,1,1,0,0,0,1,0,...,1,0,1,0,0,0,0,1,3,5
17,24,18,0,1,0,0,1,1,0,0,...,1,0,0,1,0,1,0,0,1,6
18,27,1,1,0,0,1,0,0,1,0,...,1,0,0,1,0,1,0,0,2,10
19,27,2,1,0,0,0,1,0,1,0,...,0,0,0,1,0,0,1,0,3,8

---

#### **2. 전체 응답자 OLS**

In [4]:
def get_ols_params_table(data_df):
    ols_model = ols("Y ~ CLA2 + SCA2 + SCA3 + PUR2 + PUR3 + CUL2 + CUL3 + USA2 + USA3 + ADD2 + ADD3 + PRICE", data=data_df)
    ols_result = ols_model.fit()
    ols_params = pd.DataFrame(ols_result.params, columns=['Coefficient'])
    ols_params['Standard error'] = ols_result.bse
    ols_params['P-value'] = ols_result.pvalues.round(6)
    
    ols_params_2 = ols_params[['Coefficient', 'Standard error']].copy()
    add_params = [
        -ols_params.loc['CLA2',['Coefficient', 'Standard error']],
        -ols_params.loc['SCA2',['Coefficient', 'Standard error']] -ols_params.loc['SCA3',['Coefficient', 'Standard error']],
        -ols_params.loc['PUR2',['Coefficient', 'Standard error']] -ols_params.loc['PUR3',['Coefficient', 'Standard error']],
        -ols_params.loc['CUL2',['Coefficient', 'Standard error']] -ols_params.loc['CUL3',['Coefficient', 'Standard error']],
        -ols_params.loc['USA2',['Coefficient', 'Standard error']] -ols_params.loc['USA3',['Coefficient', 'Standard error']],
        -ols_params.loc['ADD2',['Coefficient', 'Standard error']] -ols_params.loc['ADD3',['Coefficient', 'Standard error']],
        2*ols_params.loc['PRICE',['Coefficient', 'Standard error']],
        3*ols_params.loc['PRICE',['Coefficient', 'Standard error']]
        ]
    add_params = pd.DataFrame(add_params, columns=['Coefficient', 'Standard error'],
                              index=['CLA1','SCA1','PUR1','CUL1','USA1','ADD1','PRICE_15','PRICE_20'])
    ols_params_2 = pd.concat([ols_params_2, add_params], axis=0)
    ols_params_2.rename(index={'PRICE':'PRICE_10'}, inplace=True)
    ols_params_2 = ols_params_2.loc[['CLA1','CLA2',
                                     'SCA1','SCA2','SCA3',
                                     'PUR1','PUR2','PUR3',
                                     'CUL1','CUL2','CUL3',
                                     'USA1','USA2','USA3',
                                     'ADD1','ADD2','ADD3',
                                     'PRICE_10','PRICE_15','PRICE_20',
                                     'Intercept'],:]
    
    return ols_params, ols_params_2

In [5]:
total_ols, total_ols_2 = get_ols_params_table(DATA)

# Directory
folder_root = 'C:/Users/mazy4/Dropbox/6. C&S Lab/7. 2024 Project/4. 야생생물 경제가치_생물자원관/2. 분석/5. Result/2. 본설문_Result/1. 미생물/HB'
if not os.path.isdir(folder_root):
    os.makedirs(folder_root)

# Data Frame -> csv file
total_ols_file_name = folder_root + '/' + '1_Microorganisms_TOTAL_OLS.csv'
total_ols.to_csv(total_ols_file_name, mode='w')

# Result Check
total_ols

           Coefficient  Standard error   P-value
Intercept     3.905754        0.328922  0.000000
CLA2         -0.014881        0.166794  0.928927
SCA2          0.235119        0.192597  0.222457
SCA3          0.767857        0.192597  0.000072
PUR2          0.169643        0.192597  0.378629
PUR3         -0.336310        0.192597  0.081088
CUL2         -0.642857        0.192597  0.000876
CUL3         -1.086310        0.192597  0.000000
USA2          1.008929        0.192597  0.000000
USA3          1.199405        0.192597  0.000000
ADD2          0.645833        0.192597  0.000829
ADD3          0.678571        0.192597  0.000446
PRICE        -0.059524        0.096298  0.536639

---

#### **3. 개별 응답자의 부분 가치**

In [6]:
X = DATA[['CLA2',
          'SCA2','SCA3',
          'PUR2','PUR3',
          'CUL2','CUL3',
          'USA2','USA3',
          'ADD2','ADD3',
          'PRICE']].to_numpy().astype(np.float64)
y = DATA['Y'].to_numpy().astype(np.float64)

print(X.shape)
print(y.shape)

(1008, 12)
(1008,)

In [7]:
K = len(DATA['INDEX'].unique()) # 그룹 개수 : 개별 응답자 수
G = np.array([i for i in range(56) for _ in range(18)])

print(K)
print(G)

56
[ 0  0  0 ... 55 55 55]

In [8]:
with pm.Model() as HLM:
    
    # Prior probability (proposal distribution) - level2
    mu_a = pm.Normal('mu_1', mu=0, sigma=100)
    sigma_a = pm.HalfCauchy('sigma_1', 5)
    mu_b = pm.Normal('mu_2', mu=0, sigma=100)
    sigma_b = pm.HalfCauchy('sigma_2', 5)

    # Prior probability (proposal distribution)
    a = [pm.Normal(f'theta_Q{i}', mu=mu_a, sigma=sigma_a, shape=K) for i in range(1, X.shape[1]+1)]
    b = pm.Normal('intercept', mu=mu_b, sigma=sigma_b, shape=K)
    eps = pm.HalfCauchy('eps', 5)

    # Model
    y_est = b[G]
    for i in range(len(a)):
        y_est = y_est + a[i][G]*X[:,i]
    likelihood = pm.Normal('y', mu=y_est, sigma=eps, observed=y)

In [15]:
with HLM:
    HLM_trace = pm.sample(10000, progressbar=True, chains=10, cores=12, random_seed=123, target_accept=0.999)

Auto-assigning NUTS sampler...
Initializing NUTS using jitter+adapt_diag...
Multiprocess sampling (10 chains in 10 jobs)
NUTS: [mu_1, sigma_1, mu_2, sigma_2, theta_Q1, theta_Q2, theta_Q3, theta_Q4, theta_Q5, theta_Q6, theta_Q7, theta_Q8, theta_Q9, theta_Q10, theta_Q11, theta_Q12, intercept, eps]

Output()

Sampling 10 chains for 1_000 tune and 10_000 draw iterations (10_000 + 100_000 draws total) took 793 seconds.

In [16]:
person_index = DATA['INDEX'].unique()
person_index.sort()

personal_params = az.summary(HLM_trace).iloc[1:,[0]]
personal_params['params'] = personal_params.index.str.replace('\[[0-9]{,3}\]', '', regex=True)

# mu, sigma 제거
personal_params = personal_params[~personal_params['params'].isin(['mu_1', 'mu_2', 'sigma_1', 'sigma_2'])].copy()
personal_params['index'] = [
    i for param in personal_params['params'].unique() 
    if param not in ['mu_1', 'mu_2', 'sigma_1', 'sigma_2']
    for i in person_index
]

personal_params = personal_params.pivot(columns='params', index='index', values='mean').reset_index()
personal_params.columns = ['INDEX',
                           'Intercept',
                           'CLA2',
                           'SCA2','SCA3',
                           'PUR2','PUR3',
                           'CUL2','CUL3',
                           'USA2','USA3',
                           'ADD2','ADD3',
                           'PRICE']

# Output: csv file 저장
personal_params_file_name = folder_root + '/' + '2_Microorganisms_HBM_Personal_params.csv'
personal_params.to_csv(personal_params_file_name, mode='w', index=False)

# Result 확인
personal_params

,INDEX,Intercept,CLA2,SCA2,SCA3,PUR2,PUR3,CUL2,CUL3,USA2,USA3,ADD2,ADD3,PRICE
0,24,3.762,0.032,0.093,0.043,0.071,0.118,0.269,0.191,-0.058,0.320,-0.827,0.319,0.070
1,27,3.270,0.351,0.531,-0.370,0.050,-0.017,-0.267,0.658,-0.241,0.244,0.043,1.109,-0.239
2,31,4.425,0.110,0.192,0.192,0.057,0.131,0.183,0.296,0.147,0.140,0.241,0.084,0.234
3,33,3.824,0.150,0.068,-0.181,-0.060,0.155,0.056,-0.098,0.304,0.204,0.005,0.082,0.382
4,34,3.022,0.151,0.149,-0.002,-0.125,0.028,-0.072,0.058,0.156,0.050,0.101,0.215,0.064
5,36,3.447,0.126,0.177,-0.021,-0.269,0.130,0.028,0.022,0.070,-0.034,0.064,0.079,0.079
6,38,3.830,0.110,0.060,0.062,0.163,0.125,0.125,-0.140,0.262,0.190,0.189,0.111,0.010
7,40,4.271,0.066,0.214,0.313,0.092,0.050,0.349,0.134,0.134,0.192,0.142,0.013,0.514
8,51,4.276,-0.010,0.149,0.400,-0.058,0.158,0.457,0.607,-0.440,0.251,-0.149,0.021,0.720
9,52,3.625,-0.073,0.294,0.243,-0.046,-0.009,0.543,0.148,1.348,-0.114,0.135,0.194,-0.107
10,55,3.888,0.093,0.296,0.298,0.358,0.104,0.554,0.344,-0.202,-0.196,-0.047,0.205,0.454
11,57,4.195,0.038,0.220,0.569,0.404,0.149,-0.000,0.419,-0.080,0.548,0.049,0.262,0.011
12,58,5.723,0.362,0.545,0.596,0.505,0.183,0.383,0.177,0.326,0.225,0.276,0.433,0.582
13,60,3.263,0.208,0.121,-0.228,-0.131,0.307,0.355,-0.066,-0.366,0.083,-0.514,0.169,0.171
14,63,4.283,0.266,0.260,0.861,0.124,0.174,0.176,0.059,0.160,0.284,0.133,0.317,0.866
15,64,3.827,0.057,0.177,0.076,-0.394,0.243,0.142,0.186,0.136,0.069,0.120,0.129,0.128
16,68,3.442,0.269,0.235,-0.263,0.317,-0.693,1.304,0.166,-0.833,-0.692,1.306,0.305,0.306
17,71,3.849,-0.004,0.407,0.106,-0.318,0.071,0.120,0.248,0.198,-0.086,0.213,0.624,0.523
18,75,4.396,0.129,0.493,0.243,0.306,0.334,0.335,0.372,-0.278,-0.044,0.005,0.250,0.550
19,76,3.073,0.023,0.130,0.429,-0.078,0.194,0.047,0.023,0.026,0.166,-0.183,0.102,0.651
20,77,3.201,-0.305,0.213,0.112,-0.003,0.015,0.313,0.157,0.106,0.114,-0.236,0.100,0.099
21,80,4.849,0.436,0.589,0.339,0.048,0.183,0.678,0.318,0.417,0.091,0.391,0.782,0.084
22,82,3.661,0.083,0.030,0.030,-0.254,0.178,0.326,0.414,-0.933,0.143,-0.405,0.278,0.228
23,86,3.690,0.196,0.013,0.364,-0.136,0.215,0.165,0.107,0.205,0.178,-0.120,0.002,0.250
24,88,5.243,0.371,0.046,0.545,0.054,0.660,0.062,0.360,-0.090,0.382,0.082,0.257,0.010
25,90,3.385,0.098,0.105,0.052,0.230,0.017,0.266,0.112,0.111,-0.297,0.453,-0.138,0.362
26,93,1.983,0.006,-0.065,0.335,-0.215,0.037,0.238,-0.071,-0.171,-0.179,-0.129,-0.108,0.442
27,94,4.459,0.154,0.172,0.176,0.224,0.174,0.175,0.172,0.175,-0.037,-1.534,0.174,0.174
28,96,3.003,0.060,0.139,0.640,-0.913,0.638,0.139,0.069,0.067,-0.502,-0.004,0.138,0.637
29,97,4.805,0.155,0.289,0.190,0.306,0.353,0.253,0.667,-0.382,0.153,0.003,0.566,0.167
30,98,2.358,0.072,0.080,0.081,-0.563,0.139,0.088,0.122,-0.028,-0.011,-0.211,0.209,0.210
31,99,4.166,-0.111,0.212,-0.088,0.208,0.077,0.627,0.084,0.683,0.131,0.181,0.302,0.204
32,100,4.504,0.059,0.375,0.272,0.227,0.143,0.244,0.188,0.137,0.060,0.010,0.273,0.373
33,103,3.504,0.128,0.151,0.201,-0.221,-0.014,0.685,0.151,-0.248,-0.081,-0.334,0.428,0.179
34,107,3.861,0.074,0.635,0.486,0.095,0.318,0.169,0.067,-0.031,0.291,-0.061,-0.152,0.447
35,111,4.758,0.352,0.491,0.692,0.321,0.008,0.408,0.172,0.374,0.413,0.064,0.900,0.799
36,113,4.827,0.159,0.236,0.185,-0.207,0.168,0.066,0.134,0.232,0.223,0.075,0.237,0.187
37,114,4.601,0.163,0.184,0.185,0.265,0.186,0.188,0.186,0.184,-0.112,-1.310,0.185,0.185
38,116,3.631,0.133,0.292,0.389,0.065,0.133,0.482,0.263,0.163,0.158,-0.244,0.252,0.555
39,117,3.794,0.424,0.062,0.710,-0.115,-0.251,0.448,0.340,0.241,0.057,0.206,-0.034,0.867
40,119,3.828,0.205,-0.176,0.573,-0.176,0.189,0.337,0.245,-0.105,0.340,-0.262,0.033,0.433
41,120,4.711,0.146,0.417,0.365,0.430,0.163,0.165,0.116,0.218,0.089,-0.010,0.422,0.424
42,121,4.450,0.148,0.113,0.163,-0.053,0.081,0.833,0.326,0.076,-0.001,0.148,0.469,0.321
43,122,3.781,0.125,0.139,0.140,0.148,-0.002,0.346,-0.001,-0.101,-0.053,-0.051,0.133,0.533
44,153,4.397,0.036,0.222,0.172,0.046,0.301,0.349,0.116,0.215,0.032,0.431,0.229,0.678
45,156,3.050,-0.181,0.176,-0.274,-0.112,0.011,0.212,0.632,-0.217,0.140,-0.557,0.269,0.016
46,158,4.629,0.182,0.004,0.402,0.182,0.175,0.423,0.261,0.211,0.091,-0.259,0.260,0.212
47,159,2.397,-0.023,0.135,0.384,0.416,-0.094,-0.094,-0.008,-0.310,0.069,-0.129,0.398,0.246
48,161,5.133,0.157,0.205,0.407,0.541,0.104,0.504,0.352,-0.198,0.226,0.126,0.254,0.354
49,163,4.446,0.130,0.297,-0.004,0.397,-0.296,0.203,0.269,0.218,0.296,-0.006,0.525,0.026
50,169,3.963,-0.423,0.197,0.049,0.199,0.064,0.314,-0.029,0.020,0.100,-0.300,0.001,0.252
51,182,3.101,0.101,0.258,-0.093,-0.249,0.001,0.100,0.244,-0.206,0.067,-0.284,0.109,0.059
52,187,4.003,0.121,0.243,0.093,0.132,0.191,0.141,0.192,0.142,0.081,0.129,0.092,0.244
53,191,5.364,0.096,0.278,0.577,0.636,0.075,0.326,0.299,0.297,0.226,0.177,0.483,0.433
54,193,4.354,0.331,0.179,0.126,0.187,0.178,0.127,0.133,0.233,0.177,0.127,0.128,0.177
55,196,3.944,0.117,0.189,0.138,0.007,0.132,0.133,0.132,0.133,0.127,0.078,0.304,0.155

---

#### **4. Clustering**

In [17]:
kmeans = KMeans(n_clusters=2, random_state=456)
clusters = kmeans.fit(personal_params.iloc[:,1:])

personal_params['Cluster'] = clusters.labels_
DATA_cluster = pd.merge(left=DATA,
                        right=personal_params[['INDEX','Cluster']],
                        how='left',
                        on='INDEX')

# Output : csv file
data_cluster_file_name = folder_root + '/' + '3_Microorganisms_OLS_Data_Cluster.csv'
DATA_cluster.to_csv(data_cluster_file_name, mode='w', index=False)

# Result Check
DATA_cluster

,INDEX,CARD,CLA1,CLA2,SCA1,SCA2,SCA3,PUR1,PUR2,PUR3,...,CUL3,USA1,USA2,USA3,ADD1,ADD2,ADD3,PRICE,Y,Cluster
0,24,1,1,0,0,1,0,0,1,0,...,0,0,1,0,1,0,0,2,6,0
1,24,2,1,0,0,0,1,0,1,0,...,0,0,1,0,0,1,0,3,9,0
2,24,3,1,0,0,0,1,0,1,0,...,1,1,0,0,0,0,1,1,1,0
3,24,4,1,0,0,1,0,1,0,0,...,0,0,0,1,0,0,1,3,5,0
4,24,5,0,1,0,1,0,1,0,0,...,1,1,0,0,0,1,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,196,14,1,0,0,0,1,0,0,1,...,0,1,0,0,0,1,0,2,4,0
1004,196,15,0,1,0,1,0,0,1,0,...,0,0,0,1,0,1,0,1,5,0
1005,196,16,1,0,1,0,0,1,0,0,...,0,1,0,0,1,0,0,1,4,0
1006,196,17,0,1,1,0,0,0,1,0,...,0,1,0,0,0,0,1,3,4,0
1007,196,18,0,1,0,0,1,1,0,0,...,0,0,1,0,1,0,0,1,5,0

##### 1st Group

In [18]:
idx_1 = (DATA_cluster['Cluster'] == 0)
group1_ols, group1_ols_2 = get_ols_params_table(DATA_cluster.loc[idx_1,:])
group1_ols

           Coefficient  Standard error   P-value
Intercept     3.036458        0.397480  0.000000
CLA2         -0.031250        0.201559  0.876844
SCA2          0.276042        0.232740  0.236103
SCA3          0.833333        0.232740  0.000373
PUR2          0.078125        0.232740  0.737241
PUR3         -0.468750        0.232740  0.044480
CUL2         -0.713542        0.232740  0.002275
CUL3         -1.005208        0.232740  0.000019
USA2          0.895833        0.232740  0.000132
USA3          1.182292        0.232740  0.000001
ADD2          0.541667        0.232740  0.020301
ADD3          0.442708        0.232740  0.057661
PRICE        -0.033854        0.116370  0.771221

##### 2nd Group

In [19]:
idx_2 = (DATA_cluster['Cluster'] == 1)
group2_ols, group2_ols_2 = get_ols_params_table(DATA_cluster.loc[idx_2,:])
group2_ols

           Coefficient  Standard error   P-value
Intercept     5.064815        0.423956  0.000000
CLA2          0.006944        0.214985  0.974247
SCA2          0.180556        0.248243  0.467428
SCA3          0.680556        0.248243  0.006378
PUR2          0.291667        0.248243  0.240692
PUR3         -0.159722        0.248243  0.520310
CUL2         -0.548611        0.248243  0.027647
CUL3         -1.194444        0.248243  0.000002
USA2          1.159722        0.248243  0.000004
USA3          1.222222        0.248243  0.000001
ADD2          0.784722        0.248243  0.001686
ADD3          0.993056        0.248243  0.000075
PRICE        -0.093750        0.124122  0.450488

---

#### **5. Result Clean-Up**

In [20]:
summary_coef = pd.concat([total_ols_2, group1_ols_2, group2_ols_2], axis=1)
summary_coef.columns = ['Full sample', 'Full sample SE', 'Cluster 1', 'Cluster 1 SE', 'Cluster 2', 'Cluster 2 SE']
add_lines = pd.DataFrame([[len(DATA['INDEX'].unique()),
                           len(DATA_cluster.loc[idx_1,'INDEX'].unique()),
                           len(DATA_cluster.loc[idx_2,'INDEX'].unique())]],
                         columns=['Full sample', 'Cluster 1', 'Cluster 2'], index=['Number of cases'])
summary_coef = pd.concat([summary_coef, add_lines], axis=0)

# Output : csv file
summary_coef_file_name = folder_root + '/' + '4_Microorganisms_Summary_Coef.csv'
summary_coef.to_csv(summary_coef_file_name, mode='w')

# Result Check
summary_coef

,Full sample,Full sample SE,Cluster 1,Cluster 1 SE,Cluster 2,Cluster 2 SE
CLA1,0.014881,-0.166794,0.031250,-0.201559,-0.006944,-0.214985
CLA2,-0.014881,0.166794,-0.031250,0.201559,0.006944,0.214985
SCA1,-1.002976,-0.385194,-1.109375,-0.465481,-0.861111,-0.496486
SCA2,0.235119,0.192597,0.276042,0.232740,0.180556,0.248243
SCA3,0.767857,0.192597,0.833333,0.232740,0.680556,0.248243
PUR1,0.166667,-0.385194,0.390625,-0.465481,-0.131944,-0.496486
PUR2,0.169643,0.192597,0.078125,0.232740,0.291667,0.248243
PUR3,-0.336310,0.192597,-0.468750,0.232740,-0.159722,0.248243
CUL1,1.729167,-0.385194,1.718750,-0.465481,1.743056,-0.496486
CUL2,-0.642857,0.192597,-0.713542,0.232740,-0.548611,0.248243
CUL3,-1.086310,0.192597,-1.005208,0.232740,-1.194444,0.248243
USA1,-2.208333,-0.385194,-2.078125,-0.465481,-2.381944,-0.496486
USA2,1.008929,0.192597,0.895833,0.232740,1.159722,0.248243
USA3,1.199405,0.192597,1.182292,0.232740,1.222222,0.248243
ADD1,-1.324405,-0.385194,-0.984375,-0.465481,-1.777778,-0.496486
ADD2,0.645833,0.192597,0.541667,0.232740,0.784722,0.248243
ADD3,0.678571,0.192597,0.442708,0.232740,0.993056,0.248243
PRICE_10,-0.059524,0.096298,-0.033854,0.116370,-0.093750,0.124122
PRICE_15,-0.119048,0.192597,-0.067708,0.232740,-0.187500,0.248243
PRICE_20,-0.178571,0.288895,-0.101563,0.349110,-0.281250,0.372365
Intercept,3.905754,0.328922,3.036458,0.397480,5.064815,0.423956
Number of cases,56.000000,NaN,32.000000,NaN,24.000000,NaN