### **Code : Natural Products - Hierarchical Bayesian**
##### Writer : Donghyeon Kim
##### Update : 2025.01.02.

---

#### **0. Package Reference**
```
conda create -c conda-forge -n pymc_env "pymc>=5"
conda activate pymc_env

pip install statsmodels

pip install -U scikit-learn
```

---

#### **1. Prior Settings**

In [1]:
import os

import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from statsmodels.formula.api import ols # Regression Model
import pymc as pm # Bayesian Analysis
import arviz as az
from sklearn.cluster import KMeans # K-means Clustering

##### Data : 천연물 본설문 OLS

In [2]:
DATA = pd.read_csv('C:/Users/mazy4/Dropbox/6. C&S Lab/7. 2024 Project/4. 야생생물 경제가치_생물자원관/2. 분석/2. Data/2. 본설문/Naturalproducts_Main_Profile(53).csv')
DATA.head(10)

,INDEX,CARD,BIO1,BIO2,BIO3,SCA1,SCA2,SCA3,KNO1,KNO2,KNO3,USE1,USE2,USE3,MET1,MET2,ANA1,ANA2,PRICE,Y
0,14,1,1,0,0,0,0,1,0,1,0,0,1,0,1,0,1,0,2000000,2
1,14,2,0,1,0,0,1,0,1,0,0,0,1,0,1,0,0,1,300000,3
2,14,3,0,1,0,1,0,0,0,1,0,0,0,1,0,1,0,1,30000,5
3,14,4,1,0,0,0,1,0,0,0,1,1,0,0,0,1,0,1,2000000,1
4,14,5,0,1,0,0,0,1,0,1,0,1,0,0,0,1,1,0,300000,4
5,14,6,0,0,1,1,0,0,0,0,1,0,0,1,1,0,1,0,300000,2
6,14,7,0,1,0,0,0,1,0,0,1,0,1,0,1,0,1,0,30000,6
7,14,8,1,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,30000,3
8,14,9,0,0,1,0,0,1,0,0,1,1,0,0,1,0,0,1,30000,6
9,14,10,0,0,1,0,1,0,1,0,0,0,1,0,0,1,1,0,30000,6

In [3]:
# PRICE category = (1, 2, 3)
DATA.loc[(DATA['PRICE'] == 30000),'PRICE'] = 1
DATA.loc[(DATA['PRICE'] == 300000),'PRICE'] = 2
DATA.loc[(DATA['PRICE'] == 2000000),'PRICE'] = 3
DATA.head(20)

,INDEX,CARD,BIO1,BIO2,BIO3,SCA1,SCA2,SCA3,KNO1,KNO2,KNO3,USE1,USE2,USE3,MET1,MET2,ANA1,ANA2,PRICE,Y
0,14,1,1,0,0,0,0,1,0,1,0,0,1,0,1,0,1,0,3,2
1,14,2,0,1,0,0,1,0,1,0,0,0,1,0,1,0,0,1,2,3
2,14,3,0,1,0,1,0,0,0,1,0,0,0,1,0,1,0,1,1,5
3,14,4,1,0,0,0,1,0,0,0,1,1,0,0,0,1,0,1,3,1
4,14,5,0,1,0,0,0,1,0,1,0,1,0,0,0,1,1,0,2,4
5,14,6,0,0,1,1,0,0,0,0,1,0,0,1,1,0,1,0,2,2
6,14,7,0,1,0,0,0,1,0,0,1,0,1,0,1,0,1,0,1,6
7,14,8,1,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,3
8,14,9,0,0,1,0,0,1,0,0,1,1,0,0,1,0,0,1,1,6
9,14,10,0,0,1,0,1,0,1,0,0,0,1,0,0,1,1,0,1,6
10,14,11,1,0,0,0,1,0,0,1,0,0,0,1,1,0,1,0,1,6
11,14,12,1,0,0,1,0,0,0,0,1,0,1,0,0,1,1,0,2,1
12,14,13,0,1,0,0,1,0,0,0,1,0,0,1,1,0,1,0,3,1
13,14,14,0,0,1,1,0,0,0,1,0,0,1,0,1,0,0,1,3,1
14,14,15,0,0,1,0,1,0,0,1,0,1,0,0,1,0,1,0,2,4
15,14,16,0,1,0,1,0,0,1,0,0,1,0,0,1,0,1,0,3,2
16,14,17,0,0,1,0,0,1,1,0,0,0,0,1,0,1,1,0,3,2
17,14,18,1,0,0,0,0,1,1,0,0,0,0,1,1,0,0,1,2,2
18,17,1,1,0,0,0,0,1,0,1,0,0,1,0,1,0,1,0,3,4
19,17,2,0,1,0,0,1,0,1,0,0,0,1,0,1,0,0,1,2,5

---

#### **2. 전체 응답자 OLS**

In [4]:
def get_ols_params_table(data_df):
    ols_model = ols("Y ~ BIO2 + BIO3 + SCA2 + SCA3 + KNO2 + KNO3 + USE2 + USE3 + MET2 + ANA2 + PRICE", data=data_df)
    ols_result = ols_model.fit()
    ols_params = pd.DataFrame(ols_result.params, columns=['Coefficient'])
    ols_params['Standard error'] = ols_result.bse
    ols_params['P-value'] = ols_result.pvalues.round(6)
    
    ols_params_2 = ols_params[['Coefficient', 'Standard error']].copy()
    add_params = [
        -ols_params.loc['BIO2',['Coefficient', 'Standard error']] -ols_params.loc['BIO3',['Coefficient', 'Standard error']],
        -ols_params.loc['SCA2',['Coefficient', 'Standard error']] -ols_params.loc['SCA3',['Coefficient', 'Standard error']],
        -ols_params.loc['KNO2',['Coefficient', 'Standard error']] -ols_params.loc['KNO3',['Coefficient', 'Standard error']],
        -ols_params.loc['USE2',['Coefficient', 'Standard error']] -ols_params.loc['USE3',['Coefficient', 'Standard error']],
        -ols_params.loc['MET2',['Coefficient', 'Standard error']],
        -ols_params.loc['ANA2',['Coefficient', 'Standard error']],
        2*ols_params.loc['PRICE',['Coefficient', 'Standard error']],
        3*ols_params.loc['PRICE',['Coefficient', 'Standard error']]
        ]
    add_params = pd.DataFrame(add_params, columns=['Coefficient', 'Standard error'],
                              index=['BIO1','SCA1','KNO1','USE1','MET1','ANA1','PRICE_30','PRICE_200'])
    ols_params_2 = pd.concat([ols_params_2, add_params], axis=0)
    ols_params_2.rename(index={'PRICE':'PRICE_03'}, inplace=True)
    ols_params_2 = ols_params_2.loc[['BIO1','BIO2','BIO3',
                                     'SCA1','SCA2','SCA3',
                                     'KNO1','KNO2','KNO3',
                                     'USE1','USE2','USE3',
                                     'MET1','MET2',
                                     'ANA1','ANA2',
                                     'PRICE_03','PRICE_30','PRICE_200',
                                     'Intercept'],:]
    
    return ols_params, ols_params_2

In [5]:
total_ols, total_ols_2 = get_ols_params_table(DATA)

# Directory
folder_root = 'C:/Users/mazy4/Dropbox/6. C&S Lab/7. 2024 Project/4. 야생생물 경제가치_생물자원관/2. 분석/5. Result/2. 본설문_Result/2. 천연물/HB'
if not os.path.isdir(folder_root):
    os.makedirs(folder_root)

# Data Frame -> csv file
total_ols_file_name = folder_root + '/' + '1_Naturalproducts_TOTAL_OLS.csv'
total_ols.to_csv(total_ols_file_name, mode='w')

# Result Check
total_ols

           Coefficient  Standard error   P-value
Intercept     5.015199        0.327007  0.000000
BIO2          0.581761        0.200250  0.003756
BIO3          0.657233        0.200250  0.001068
SCA2          0.128931        0.200250  0.519830
SCA3          0.628931        0.200250  0.001738
KNO2          0.169811        0.200250  0.396655
KNO3          0.191824        0.200250  0.338348
USE2          0.015723        0.200250  0.937432
USE3          0.157233        0.200250  0.432544
MET2          0.696541        0.173422  0.000064
ANA2          0.672956        0.173422  0.000112
PRICE        -0.830189        0.100125  0.000000

---

#### **3. 개별 응답자의 부분 가치**

In [6]:
X = DATA[['BIO2','BIO3',
          'SCA2','SCA3',
          'KNO2','KNO3',
          'USE2','USE3',
          'MET2',
          'ANA2',
          'PRICE']].to_numpy().astype(np.float64)
y = DATA['Y'].to_numpy().astype(np.float64)

print(X.shape)
print(y.shape)

(954, 11)
(954,)

In [7]:
K = len(DATA['INDEX'].unique()) # 그룹 개수 : 개별 응답자 수
G = np.array([i for i in range(53) for _ in range(18)])

print(K)
print(G)

53
[ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  2  2  2  2  2  2  2  2  2  2  2  2
  2  2  2  2  2  2  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3
  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  5  5  5  5  5  5
  5  5  5  5  5  5  5  5  5  5  5  5  6  6  6  6  6  6  6  6  6  6  6  6
  6  6  6  6  6  6  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7
  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  9  9  9  9  9  9
  9  9  9  9  9  9  9  9  9  9  9  9 10 10 10 10 10 10 10 10 10 10 10 10
 10 10 10 10 10 10 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11
 12 12 12 12 12 12 12 12 12 12 12 12 12 12 12 12 12 12 13 13 13 13 13 13
 13 13 13 13 13 13 13 13 13 13 13 13 14 14 14 14 14 14 14 14 14 14 14 14
 14 14 14 14 14 14 15 15 15 15 15 15 15 15 15 15 15 15 15 15 15 15 15 15
 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 17 17 17 17 17 17
 17 17 17 17 17 17 17 17 17 17 17 17 18 18 18 18 18 18 18 18 18 18 18 18
 18 18 18 18 18 18 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19
 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 21 21 21 21 21 21
 21 21 21 21 21 21 21 21 21 21 21 21 22 22 22 22 22 22 22 22 22 22 22 22
 22 22 22 22 22 22 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23
 24 24 24 24 24 24 24 24 24 24 24 24 24 24 24 24 24 24 25 25 25 25 25 25
 25 25 25 25 25 25 25 25 25 25 25 25 26 26 26 26 26 26 26 26 26 26 26 26
 26 26 26 26 26 26 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27
 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 29 29 29 29 29 29
 29 29 29 29 29 29 29 29 29 29 29 29 30 30 30 30 30 30 30 30 30 30 30 30
 30 30 30 30 30 30 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31
 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 33 33 33 33 33 33
 33 33 33 33 33 33 33 33 33 33 33 33 34 34 34 34 34 34 34 34 34 34 34 34
 34 34 34 34 34 34 35 35 35 35 35 35 35 35 35 35 35 35 35 35 35 35 35 35
 36 36 36 36 36 36 36 36 36 36 36 36 36 36 36 36 36 36 37 37 37 37 37 37
 37 37 37 37 37 37 37 37 37 37 37 37 38 38 38 38 38 38 38 38 38 38 38 38
 38 38 38 38 38 38 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39
 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 41 41 41 41 41 41
 41 41 41 41 41 41 41 41 41 41 41 41 42 42 42 42 42 42 42 42 42 42 42 42
 42 42 42 42 42 42 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43
 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 45 45 45 45 45 45
 45 45 45 45 45 45 45 45 45 45 45 45 46 46 46 46 46 46 46 46 46 46 46 46
 46 46 46 46 46 46 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47
 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 49 49 49 49 49 49
 49 49 49 49 49 49 49 49 49 49 49 49 50 50 50 50 50 50 50 50 50 50 50 50
 50 50 50 50 50 50 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51
 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52]

In [8]:
with pm.Model() as HLM:
    
    # Prior probability (proposal distribution) - level2
    mu_a = pm.Normal('mu_1', mu=0, sigma=100)
    sigma_a = pm.HalfCauchy('sigma_1', 5)
    mu_b = pm.Normal('mu_2', mu=0, sigma=100)
    sigma_b = pm.HalfCauchy('sigma_2', 5)

    # Prior probability (proposal distribution)
    a = [pm.Normal(f'theta_Q{i}', mu=mu_a, sigma=sigma_a, shape=K) for i in range(1, X.shape[1]+1)]
    b = pm.Normal('intercept', mu=mu_b, sigma=sigma_b, shape=K)
    eps = pm.HalfCauchy('eps', 5)

    # Model
    y_est = b[G]
    for i in range(len(a)):
        y_est = y_est + a[i][G]*X[:,i]
    likelihood = pm.Normal('y', mu=y_est, sigma=eps, observed=y)

In [9]:
with HLM:
    HLM_trace = pm.sample(10000, progressbar=True, chains=10, cores=12, random_seed=123, target_accept=0.999)

Auto-assigning NUTS sampler...
Initializing NUTS using jitter+adapt_diag...
Multiprocess sampling (10 chains in 10 jobs)
NUTS: [mu_1, sigma_1, mu_2, sigma_2, theta_Q1, theta_Q2, theta_Q3, theta_Q4, theta_Q5, theta_Q6, theta_Q7, theta_Q8, theta_Q9, theta_Q10, theta_Q11, intercept, eps]

Output()

Sampling 10 chains for 1_000 tune and 10_000 draw iterations (10_000 + 100_000 draws total) took 1167 seconds.

In [11]:
person_index = DATA['INDEX'].unique()
person_index.sort()

personal_params = az.summary(HLM_trace).iloc[1:,[0]]
personal_params['params'] = personal_params.index.str.replace('\[[0-9]{,3}\]', '', regex=True)

# mu, sigma 제거
personal_params = personal_params[~personal_params['params'].isin(['mu_1', 'mu_2', 'sigma_1', 'sigma_2'])].copy()
personal_params['index'] = [
    i for param in personal_params['params'].unique() 
    if param not in ['mu_1', 'mu_2', 'sigma_1', 'sigma_2']
    for i in person_index
]

personal_params = personal_params.pivot(columns='params', index='index', values='mean').reset_index()
personal_params.columns = ['INDEX',
                           'Intercept',
                           'BIO2','BIO3',
                           'SCA2','SCA3',
                           'KNO2','KNO3',
                           'USE2','USE3',
                           'MET2',
                           'ANA2',
                           'PRICE']

# Output: csv file 저장
personal_params_file_name = folder_root + '/' + '2_Naturalproducts_HBM_Personal_params.csv'
personal_params.to_csv(personal_params_file_name, mode='w', index=False)

# Result 확인
personal_params

,INDEX,Intercept,BIO2,BIO3,SCA2,SCA3,KNO2,KNO3,USE2,USE3,MET2,ANA2,PRICE
0,14,5.215,0.582,-0.067,-1.543,0.580,0.637,0.756,0.539,-0.053,0.078,-0.039,0.091
1,17,10.243,-0.033,-0.215,-1.941,0.086,-0.494,0.097,0.062,0.892,0.419,0.538,1.028
2,19,1.466,0.915,0.564,-0.275,1.629,-0.662,0.047,0.949,0.240,0.765,0.648,2.118
3,22,1.594,1.663,0.359,-0.479,1.187,-0.511,0.199,0.824,-0.003,0.306,-0.168,0.360
4,23,2.610,0.528,2.339,-0.585,0.173,1.290,2.119,-0.729,-0.376,-0.493,-0.611,-0.302
5,24,4.814,0.093,0.914,0.036,-0.143,0.316,0.082,0.081,0.319,-0.147,0.092,1.070
6,25,1.788,2.247,1.656,-0.472,1.890,-0.012,-0.368,0.741,-0.442,0.265,0.029,0.414
7,26,3.856,0.292,2.407,-0.823,-0.301,-0.061,0.054,0.571,0.098,0.226,-0.011,1.628
8,27,4.868,0.112,1.329,-1.762,0.587,0.071,2.439,0.071,-0.047,-0.585,0.835,3.659
9,28,0.548,0.012,-0.067,-0.096,0.247,-0.042,0.072,-0.097,-0.097,0.183,0.299,2.419
10,32,5.755,0.238,0.407,-0.072,0.949,-0.387,0.443,0.378,-0.096,0.299,0.656,0.252
11,37,2.882,0.329,1.048,-0.439,0.685,-0.004,0.114,0.050,0.286,-0.068,0.406,1.047
12,39,10.954,-0.137,-0.207,-1.711,0.215,0.087,0.442,0.087,0.444,0.153,0.153,0.104
13,41,3.654,0.696,1.211,0.069,0.342,0.278,0.988,-0.057,0.418,-0.443,-0.325,0.902
14,42,4.626,-0.170,0.083,-0.039,0.184,0.175,0.295,0.413,0.056,0.004,0.240,0.083
15,46,10.288,-0.076,-0.162,-3.117,0.281,-0.237,-0.235,0.088,0.796,0.441,0.441,0.305
16,49,4.292,-0.057,0.235,0.089,0.061,0.009,-0.227,-0.229,0.008,0.232,-0.003,0.081
17,56,7.171,0.304,-0.147,-0.445,-0.050,0.442,1.390,0.066,0.187,0.294,0.411,0.009
18,57,2.748,0.230,0.943,0.386,0.703,-0.007,0.940,-0.093,-0.328,0.186,0.068,-0.455
19,59,8.624,0.039,0.182,-2.476,0.038,-0.028,0.329,0.145,0.383,0.145,0.383,-0.437
20,64,5.319,0.886,1.178,-1.956,0.058,0.240,0.476,-0.675,0.035,1.176,-0.008,0.400
21,65,6.802,0.546,0.677,-2.532,0.071,0.297,0.769,1.212,1.210,-0.553,0.042,1.610
22,66,1.053,1.106,-1.149,0.890,0.748,-0.607,2.234,0.837,-0.109,-0.023,-0.378,-0.683
23,70,7.114,0.666,1.043,-2.040,0.786,0.095,0.456,0.044,0.282,0.162,0.163,0.113
24,71,4.929,0.537,1.176,-0.859,-0.056,0.018,2.269,1.031,1.030,0.857,0.976,1.020
25,72,2.421,-0.077,-0.201,0.377,0.395,-0.013,0.104,-0.185,0.054,0.171,-0.302,-0.047
26,73,6.627,0.325,-0.047,0.022,0.208,0.263,0.500,0.498,0.259,0.035,0.273,0.107
27,74,4.964,-0.024,-1.260,0.248,-0.025,0.373,0.255,-0.259,0.213,0.902,-0.044,-0.173
28,76,8.313,0.409,-0.186,-2.347,0.409,-0.109,0.248,0.410,0.410,-0.108,0.245,0.283
29,78,10.113,0.247,-0.216,-0.908,0.481,0.082,-0.037,0.189,0.310,0.136,0.138,0.248
30,79,8.003,-0.038,0.174,-1.111,0.317,0.026,0.026,-0.039,0.317,0.899,-0.168,-0.138
31,82,4.778,0.383,-0.017,-0.103,-0.209,0.198,0.199,0.090,-0.145,0.198,0.198,1.223
32,87,3.033,-0.016,0.739,-0.088,0.579,0.451,0.568,-0.186,0.525,-0.453,-0.336,-0.040
33,88,4.917,0.211,1.897,0.177,0.568,-0.004,-0.121,0.276,0.273,-0.067,0.168,0.655
34,93,3.353,0.207,0.069,-0.355,0.444,0.338,-0.137,-0.126,-0.126,0.271,0.154,0.536
35,95,2.115,2.078,-0.308,-0.394,2.672,0.144,1.446,-0.234,0.240,-0.050,-0.169,0.468
36,97,0.906,-0.092,0.403,-0.154,-0.092,-0.169,0.661,-0.382,-0.026,-0.060,1.006,-0.063
37,100,9.488,0.623,0.346,-1.688,0.384,0.237,-0.358,0.383,0.621,0.277,0.280,0.034
38,106,4.406,0.064,0.236,-0.185,-0.055,0.355,-0.120,0.462,0.228,0.463,0.225,0.548
39,110,5.186,-0.288,0.350,-0.159,-0.052,0.055,0.056,-0.290,-0.053,-0.181,0.294,0.662
40,111,4.686,0.262,0.294,-0.176,-0.093,-0.081,-0.201,0.534,0.768,-0.146,0.092,0.913
41,114,4.383,0.454,0.339,-0.047,-0.140,0.095,0.214,0.322,0.441,0.321,0.439,0.340
42,115,2.355,0.716,1.507,-0.039,0.952,0.406,-0.541,1.525,1.051,0.159,0.159,1.661
43,117,7.503,-0.401,0.013,-0.018,0.664,-0.048,0.307,-0.327,-0.092,-0.497,-0.141,-0.143
44,118,3.471,1.509,0.380,-0.282,1.629,-0.136,0.339,-0.007,-0.242,-0.492,0.694,1.159
45,120,7.071,0.161,0.110,-1.970,0.162,0.161,0.162,0.162,0.162,0.165,0.162,0.111
46,121,5.799,0.540,0.253,-0.071,0.420,0.753,1.109,0.380,-0.096,0.246,0.487,0.407
47,124,3.377,-0.396,-0.140,0.129,0.671,-0.236,1.187,0.089,-0.266,-0.448,0.500,-0.139
48,125,4.005,0.854,1.475,-0.472,0.498,0.619,0.735,-0.006,0.230,0.155,0.747,0.542
49,127,6.359,0.225,0.624,-1.369,0.225,0.527,-0.302,0.570,0.333,0.569,0.332,0.311
50,129,4.212,0.318,1.323,-0.813,1.266,0.251,1.556,-0.004,0.232,0.276,0.629,-0.076
51,130,4.672,0.123,1.482,-0.520,0.125,0.724,1.552,0.004,0.243,0.121,0.122,-0.382
52,134,-0.103,0.151,1.374,0.022,-0.441,0.151,-0.443,0.420,0.417,-0.680,0.389,1.687

---

#### **4. Clustering**

In [12]:
kmeans = KMeans(n_clusters=2, random_state=456)
clusters = kmeans.fit(personal_params.iloc[:,1:])

personal_params['Cluster'] = clusters.labels_
DATA_cluster = pd.merge(left=DATA,
                        right=personal_params[['INDEX','Cluster']],
                        how='left',
                        on='INDEX')

# Output : csv file
data_cluster_file_name = folder_root + '/' + '3_Naturalproducts_OLS_Data_Cluster.csv'
DATA_cluster.to_csv(data_cluster_file_name, mode='w', index=False)

# Result Check
DATA_cluster

,INDEX,CARD,BIO1,BIO2,BIO3,SCA1,SCA2,SCA3,KNO1,KNO2,...,USE1,USE2,USE3,MET1,MET2,ANA1,ANA2,PRICE,Y,Cluster
0,14,1,1,0,0,0,0,1,0,1,...,0,1,0,1,0,1,0,3,2,0
1,14,2,0,1,0,0,1,0,1,0,...,0,1,0,1,0,0,1,2,3,0
2,14,3,0,1,0,1,0,0,0,1,...,0,0,1,0,1,0,1,1,5,0
3,14,4,1,0,0,0,1,0,0,0,...,1,0,0,0,1,0,1,3,1,0
4,14,5,0,1,0,0,0,1,0,1,...,1,0,0,0,1,1,0,2,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
949,134,14,0,0,1,1,0,0,0,1,...,0,1,0,1,0,0,1,3,0,0
950,134,15,0,0,1,0,1,0,0,1,...,1,0,0,1,0,1,0,2,0,0
951,134,16,0,1,0,1,0,0,1,0,...,1,0,0,1,0,1,0,3,0,0
952,134,17,0,0,1,0,0,1,1,0,...,0,0,1,0,1,1,0,3,2,0
953,134,18,1,0,0,0,0,1,1,0,...,0,0,1,1,0,0,1,2,0,0

##### 1st Group

In [13]:
idx_1 = (DATA_cluster['Cluster'] == 0)
group1_ols, group1_ols_2 = get_ols_params_table(DATA_cluster.loc[idx_1,:])
group1_ols

           Coefficient  Standard error   P-value
Intercept     3.155702        0.350155  0.000000
BIO2          0.789474        0.214425  0.000250
BIO3          0.842105        0.214425  0.000095
SCA2          0.236842        0.214425  0.269752
SCA3          0.842105        0.214425  0.000095
KNO2          0.157895        0.214425  0.461767
KNO3          0.078947        0.214425  0.712854
USE2          0.026316        0.214425  0.902360
USE3          0.197368        0.214425  0.357666
MET2          0.901316        0.185698  0.000002
ANA2          0.934211        0.185698  0.000001
PRICE        -0.339912        0.107213  0.001591

##### 2nd Group

In [14]:
idx_2 = (DATA_cluster['Cluster'] == 1)
group2_ols, group2_ols_2 = get_ols_params_table(DATA_cluster.loc[idx_2,:])
group2_ols

           Coefficient  Standard error   P-value
Intercept     9.725926        0.559243  0.000000
BIO2          0.055556        0.342465  0.871258
BIO3          0.188889        0.342465  0.581729
SCA2         -0.144444        0.342465  0.673538
SCA3          0.088889        0.342465  0.795413
KNO2          0.200000        0.342465  0.559730
KNO3          0.477778        0.342465  0.164181
USE2         -0.011111        0.342465  0.974143
USE3          0.055556        0.342465  0.871258
MET2          0.177778        0.296583  0.549419
ANA2          0.011111        0.296583  0.970144
PRICE        -2.072222        0.171232  0.000000

---

#### **5. Result Clean-Up**

In [15]:
summary_coef = pd.concat([total_ols_2, group1_ols_2, group2_ols_2], axis=1)
summary_coef.columns = ['Full sample', 'Full sample SE', 'Cluster 1', 'Cluster 1 SE', 'Cluster 2', 'Cluster 2 SE']
add_lines = pd.DataFrame([[len(DATA['INDEX'].unique()),
                           len(DATA_cluster.loc[idx_1,'INDEX'].unique()),
                           len(DATA_cluster.loc[idx_2,'INDEX'].unique())]],
                         columns=['Full sample', 'Cluster 1', 'Cluster 2'], index=['Number of cases'])
summary_coef = pd.concat([summary_coef, add_lines], axis=0)

# Output : csv file
summary_coef_file_name = folder_root + '/' + '4_Naturalproducts_Summary_Coef.csv'
summary_coef.to_csv(summary_coef_file_name, mode='w')

# Result Check
summary_coef

,Full sample,Full sample SE,Cluster 1,Cluster 1 SE,Cluster 2,Cluster 2 SE
BIO1,-1.238994,-0.400500,-1.631579,-0.428850,-0.244444,-0.684930
BIO2,0.581761,0.200250,0.789474,0.214425,0.055556,0.342465
BIO3,0.657233,0.200250,0.842105,0.214425,0.188889,0.342465
SCA1,-0.757862,-0.400500,-1.078947,-0.428850,0.055556,-0.684930
SCA2,0.128931,0.200250,0.236842,0.214425,-0.144444,0.342465
SCA3,0.628931,0.200250,0.842105,0.214425,0.088889,0.342465
KNO1,-0.361635,-0.400500,-0.236842,-0.428850,-0.677778,-0.684930
KNO2,0.169811,0.200250,0.157895,0.214425,0.200000,0.342465
KNO3,0.191824,0.200250,0.078947,0.214425,0.477778,0.342465
USE1,-0.172956,-0.400500,-0.223684,-0.428850,-0.044444,-0.684930
USE2,0.015723,0.200250,0.026316,0.214425,-0.011111,0.342465
USE3,0.157233,0.200250,0.197368,0.214425,0.055556,0.342465
MET1,-0.696541,-0.173422,-0.901316,-0.185698,-0.177778,-0.296583
MET2,0.696541,0.173422,0.901316,0.185698,0.177778,0.296583
ANA1,-0.672956,-0.173422,-0.934211,-0.185698,-0.011111,-0.296583
ANA2,0.672956,0.173422,0.934211,0.185698,0.011111,0.296583
PRICE_03,-0.830189,0.100125,-0.339912,0.107213,-2.072222,0.171232
PRICE_30,-1.660377,0.200250,-0.679825,0.214425,-4.144444,0.342465
PRICE_200,-2.490566,0.300375,-1.019737,0.321638,-6.216667,0.513697
Intercept,5.015199,0.327007,3.155702,0.350155,9.725926,0.559243
Number of cases,53.000000,NaN,38.000000,NaN,15.000000,NaN